
.fs_style_42, stylename_2017__blockquote {visibility: visible;}

.fs_style_43, stylename_2017__blockquote__citation__ {visibility: visible;}

.fs_style_41, stylename_2017__leadin {visibility: visible;}

.fs_style_44, stylename_2017__table__style {visibility: visible;}

.fs_style_52, stylename_2022_blockquote-style_green {display: block;
margin: 50px 0;
font-style: italic;
font-size: 28px;
line-height: 32px;
text-align: center;
color: #003366;}

.fs_style_51, stylename_2022_blockquote-style_red {display: block;
margin: 50px 0;
font-style: italic;
font-size: 28px;
line-height: 32px;
text-align: center;
color: #003366;}

.fs_style_62, stylename_2022_button-color_blue_dark {}

.fs_style_56, stylename_2022_button-color_blue_light {background: #D5F1FD;
display: inline-block;
padding: 20px 24px;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
color: #003366;}

.fs_style_55, stylename_2022_button-color_gray {background: #EAEBEB;
display: inline-block;
padding: 20px 24px;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
color: #003366;}

.fs_style_57, stylename_2022_button-color_red {background: #FBD4C8;
color: #993F23;
display: inline-block;
padding: 20px 24px;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;

}

.fs_style_54, stylename_2022_button-color_white {background: #FFFFFF;
border: 1px solid #E4E4E4;
padding: 19px 23px;}

.fs_style_53, stylename_2022_button-default {display: inline-block;
background: #DFEECD;
padding: 20px 24px;
font-size: 14px;
line-height: 16px;
text-transform: uppercase;
color: #003366;}

.fs_style_61, stylename_2022_button-download {display: inline-block;
background: #89B05D;
padding: 14px 24px;
color: #003366;
font-weight: 500;
font-size: 16px;
line-height: 23px;
text-transform: uppercase;}

.fs_style_59, stylename_2022_button-expand {display: block;
width: 100%;}

.fs_style_60, stylename_2022_button-link {display: inline-block;
background: #003366;
padding: 14px 24px;
color: #fff;
font-weight: 500;
font-size: 16px;
line-height: 23px;
text-transform: uppercase;}

.fs_style_58, stylename_2022_button-size_large {font-size: 20px;
line-height: 24px;
padding: 30px 60px;}

.fs_style_47, stylename_2022_callout-style_green {display: block;
margin: 50px 0;
padding-left: 30px;
font-size: 22px;
line-height: 29px;
font-style: italic;
color: #003366;
text-transform: uppercase;
box-shadow: inset 3px 0px 0px #89B05D;}

.fs_style_46, stylename_2022_callout-style_red {display: block;
margin: 50px 0;
padding-left: 30px;
font-size: 22px;
line-height: 29px;
font-style: italic;
color: #003366;
text-transform: uppercase;
box-shadow: inset 3px 0px 0px #993F23;}

.fs_style_48, stylename_2022_citation-style {font-size: 18px;
line-height: 19px;
color: #373737;
display: block;
text-align: center;}

.fs_style_49, stylename_2022_lead-in {display: block;
font-style: italic;
font-weight: 500;
font-size: 30px;
line-height: 33px;
color: #163051;
margin-bottom: 30px;}

.fs_style_50, stylename_2022_table-style {display: table;}

.fs_style_45, stylename_blue__text {color: #004b8d;}

.fs_style_34, stylename_CC__-__Blockquote__Citation {visibility:visible;}

.fs_style_38, stylename_CC__-__Callout__Button__Dark {visibility:visible;}

.fs_style_37, stylename_CC__-__Callout__Button__Light {visibility:visible;}

.fs_style_35, stylename_CC__-__Callout__Text {visibility:visible;}

.fs_style_39, stylename_CC__-__Float__Callout__Left {visibility:visible;}

.fs_style_40, stylename_CC__-__Float__Callout__Right {visibility:visible;}

.fs_style_33, stylename_CC__-__Lead__In__Text {visibility:visible;}

.fs_style_36, stylename_CC__-__Table__Styling {visibility:visible;}

.fs_style_32, stylename_Citation {display:block;
margin-top:12px;
font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
font-size: 16px;
line-height: 20px;
font-weight: 300;
color: #babcbe;
text-transform:uppercase;}

.fs_style_27, stylename_enotify_number_blue {font-size:20px;
color:#164384;
font-weight: bold;}

.fs_style_25, stylename_enotify_number_dkblue {font-size:20px;
color:#0F3568;
font-weight: bold;}

.fs_style_26, stylename_enotify_number_green {font-size:20px;
color:#B2CF3C;
font-weight: bold;}

.fs_style_28, stylename_enotify_number_ltblue {font-size:20px;
color:#2F9ADB;
font-weight: bold;}

.fs_style_29, stylename_enotify_number_orange {font-size:20px;
color:#C5752A;
font-weight: bold;}

.fs_style_24, stylename_enotify_number_yellow {font-size:20px;
color:#EFCD43;
font-weight: bold;}

.fs_style_19, stylename_enotify_section1 {font-size:25px;
color:#2F9ADB;
font-weight: bold;}

.fs_style_20, stylename_enotify_section2 {font-size:22px;
color:#EFCD43;
font-weight: bold;}

.fs_style_21, stylename_enotify_section3 {font-size:22px;
color:#164384;
font-weight: bold;}

.fs_style_22, stylename_enotify_section4 {font-size:22px;
color:#C5752A;
font-weight: bold;}

.fs_style_23, stylename_enotify_section5 {font-size:18px;
color:#0F3568;
font-weight: bold;
text-align: center;
line-height: 150%;}

.fs_style_30, stylename_enotify_title {font-size:21px;
color:#8E9AAF;
font-weight: bold;
line-height: 120%;}

.fs_style_17, stylename_fancy__image {
    margin-right:1em !important;
    border:8px solid #fff;
    border:8px solid rgba(255, 255, 255, .4);
    -webkit-box-shadow: 0px 0px 5px 5px #333333;
    -moz-box-shadow: 0px 0px 5px 5px #333333;
    box-shadow: 0px 0px 3px 3px #bbb; 

}

.fs_style_15, stylename_fancy__image__-__float__left {float:left;
    margin-right:1em !important;
    border:8px solid #fff;
    border:8px solid rgba(255, 255, 255, .4);
    -webkit-box-shadow: 0px 0px 5px 5px #333333;
    -moz-box-shadow: 0px 0px 5px 5px #333333;
    box-shadow: 0px 0px 3px 3px #bbb; 

}

.fs_style_16, stylename_fancy__image__-__float__right {float:right;
    margin-left:1em !important;
    border:8px solid #fff;
    border:8px solid rgba(255, 255, 255, .4);
    -webkit-box-shadow: 0px 0px 5px 5px #333333;
    -moz-box-shadow: 0px 0px 5px 5px #333333;
    box-shadow: 0px 0px 3px 3px #bbb; }

.fs_style_31, stylename_lead__paragraph {  font-family: "chaparral-pro", Georgia, serif;
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
  color: #91c4ee;
  text-align: center;
  text-transform: uppercase;}

.fs_style_18, stylename_red__text {color:#B22E2E}
